/* Marquee animation */
@keyframes marqueeScroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
#annBar.animate-marquee {
  animation: marqueeScroll 60s linear infinite;
  display: inline-block;
  will-change: transform;
  white-space: nowrap;
}
#annBar.animate-marquee:hover {
  animation-play-state: paused;
}
